<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "http://juliantileandhardwood.com",
        "name": "Julian Tile and Hardwood",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+1-910-818-7278",
            "contactType": "Customer service"
        },
        "sameAs": [
            "http://www.facebook.com/JulianTileAndHardwood",
            "https://www.yelp.com/biz/julian-tile-and-hardwood-contractor-linden"
        ]
    }
</script>