<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Service",
        "serviceType": "Tile Installation",
        "provider": {
            "@type": "LocalBusiness",
            "name": "Julian Tile and Hardwood Contractor",
            "telephone": "910-818-7278",
            "image": "https://juliantileandhardwood.com/images/brand.png"
        },
        "areaServed": {
            "@type": "State",
            "name": "North Carolina"
        },
        "hasOfferCatalog": {
            "@type": "OfferCatalog",
            "name": "Services",
            "itemListElement": [{
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Kitchen Backsplash"
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Bathroom Remodeling"
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Kitchen Remodeling"
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Complete Walk-in Shower"
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "Granite Countertop"
                    }
                },
                {
                    "@type": "OfferCatalog",
                    "name": "Installations",
                    "itemListElement": [{
                            "@type": "Offer",
                            "itemOffered": {
                                "@type": "Service",
                                "name": "Tile Installation"
                            }
                        },
                        {
                            "@type": "Offer",
                            "itemOffered": {
                                "@type": "Service",
                                "name": "Hardwood Floor Installation"
                            }
                        },
                        {
                            "@type": "Offer",
                            "itemOffered": {
                                "@type": "Service",
                                "name": "Vinyl Installation"
                            }
                        },
                        {
                            "@type": "Offer",
                            "itemOffered": {
                                "@type": "Service",
                                "name": "Door Installation"
                            }
                        },
                        {
                            "@type": "Offer",
                            "itemOffered": {
                                "@type": "Service",
                                "name": "Window Installation"
                            }
                        },
                        {
                            "@type": "Offer",
                            "itemOffered": {
                                "@type": "Service",
                                "name": "Laminate Installation"
                            }
                        }
                    ]
                }
            ]
        }
    }
</script>
