<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="8u">
                <div class="row collapse-at-2">
                    <div class="3u">
                        <h3>Profiles</h3>
                        <ul class="alt">
                            <!-- <li><a href="https://www.angieslist.com/companylist/us/nc/fayetteville/julian-tile-and-hardwood-contractor-reviews-7573235.htm">Angie's List</a></li> -->
                            <li>
                            
                                <div id="angies-list-web-badge" style="max-width:240px"><iframe src="https://www.angieslist.com/al-web-badge/7573235/93421" id="badge-iframe" frameborder="0" scrolling="no" style="width:100%; height: 65px; margin: 0;display: block;"></iframe></div>
                                
                            </li>
                            <li><a href="https://porch.com/linden-nc/tile-contractors/julian-tile-and-hardwood-contractor/pp">Porch</a></li>
                            <li><a href="https://www.houzz.com/browseReviews/juliantilehardwood">Houzz</a></li>
                            <li><a href="https://www.yelp.com/biz/julian-tile-and-hardwood-contractor-linden">Yelp</a></li>

                        </ul>
                    </div>
                    <div class="5u">
                        <h3>Services</h3>
                        <ul class="alt">
                            <li>Kitchen Backsplashes</li>
                            <li>Bathroom and Kitchen Remodel</li>
                            <li>Complete Walk-In Shower</li>
                            <li>Granite Countertop</li>
                        </ul>
                    </div>

                    <div class="4u">
                        <h3>Installations</h3>
                        <ul class="alt">
                            <li>Tile Installation</li>
                            <li>Hardwood Floor Installation</li>
                            <li>Laminate Installation</li>
                            <li>Vinyl Installation</li>
                            <li>Windows and Doors</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="4u">
                <h2>Julian Tile and Hardwood</h2>
                <p>Providing Tile, Hardwood and General Home Improvement Services in North Carolina, USA</p>
                <ul class="icons">
                    <li><a href="https://www.google.com/#q=julian+tile+and+hardwood" class="icon fa-google"><span class="label">Google</span></a></li>
                    <li><a href="https://www.facebook.com/JulianTileAndHardwood" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="http://www.bing.com/search?q=Julian+Tile+and+hardwood" class="icon fa-search"><span class="label">Bing</span></a></li>
                    <li><a href="https://www.yelp.com/biz/julian-tile-and-hardwood-contractor-linden" class="icon fa-yelp"><span class="label">Yelp</span></a></li>
                    <li><a href="tel:9108187278" class="icon fa-phone"><span class="label">Phone</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Julian Tile and Hardwood. All rights reserved.</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Managed: <a href="http://borke.us">Borke Consulting</a></li>
        </ul>
    </div>
</footer>