    <!-- One -->
    <section id="one" class="wrapper style1">
        <header class="major">

            <h2>Make your Home improvement dreams a reality</h2>

            <h3>Serving North Carolina, USA</h3>
        </header>
        <div class="container">
            <div class="row">
                <div class="4u">
                    <section class="special box">
                        <i class="icon fa-comments major"></i>
                        <h3>Julian was great to work with</h3>
                        <p>Does what he says he will do and does it well. Answers any and all questions and takes the time to explain and advise. I will call him again for future work. 100%
                        </p>

                        <ul class="actions">
                            <li><a href="https://www.angieslist.com/companylist/us/nc/fayetteville/julian-tile-and-hardwood-contractor-reviews-7573235.htm" class="button alt">Learn More</a></li>
                        </ul>

                    </section>
                </div>
                <div class="4u">
                    <section class="special box">
                        <i class="icon fa-comments major"></i>
                        <h3>We are totally happy with his professionalism</h3>
                        <p>He does good work. Julian works very hard. He and his family are very caring and listen to what you want
                        </p>

                        <ul class="actions">
                            <li><a href="https://www.houzz.com/browseReviews/juliantilehardwood" class="button alt">Learn More</a></li>
                        </ul>

                    </section>
                </div>
                <div class="4u">
                    <section class="special box">
                        <i class="icon fa-comments major"></i>
                        <h3>Finished the job beautifully</h3>
                        <p>Some problems were encountered which necessitated the need for the project to be done, but Julian and his assistant fixed everything</p>

                        <ul class="actions">
                            <li><a href="https://www.angieslist.com/companylist/us/nc/fayetteville/julian-tile-and-hardwood-contractor-reviews-7573235.htm" class="button alt">Learn More</a></li>
                        </ul>

                    </section>
                </div>
            </div>
        </div>
    </section>