    <!-- Two -->
    <section id="two" class="wrapper style2">
        <header class="major">
            <h2>Looking to take your home improvement to the next level?</h2>
            <p>Julian can help!</p>
        </header>
        <div class="container">
            <div class="row">
                <div class="12u">
                    <section class="special">
                        <p>Remodeling your bathroom, kitchen or home in general is one of the best investments that you could make. A newly remodeled kitchen, bathroom or home creates an even better living environment that the entire family will enjoy for years to come.</p>
                        <p>We are happy to work with your ideas, or plan your kitchen or bathroom remodeling project from start to finish. Your satisfaction is GUARANTEED and we will go out of our way to make sure you are satisfied with our work, and that your improvements to your home are done professionally and completed on time.</p>
                    </section>
                </div>
            </div>
        </div>
    </section>