!!!
html(lang="en")
    head
        include partial/head/_meta_tags.html
        include partial/head/_seo_tags.html 
        include partial/head/_google.html 
        include partial/head/_head_scripts.html

        include partial/credits/_templated.html

        include partial/schema/_organization.html 
        include partial/schema/_services.html 
        
        include partial/metrics/_yandex.html 

    body.top

        include partial/content/_header.html 

        include partial/content/_banner.html 

        include partial/content/_one.html 

        include partial/content/_two.html 

        include partial/content/_footer.html 

        include partial/content/_contact.html 