doctype
html(lang="en")
    head
        include partial/head/_meta_tags
        include partial/head/_seo_tags 
        include partial/head/_head_scripts.html    
        include partial/head/_favicon.html
        
        include partial/head/_title

        include partial/credit/_templated.html

        include partial/schema/_organization.html 
        include partial/schema/_services.html 
        
        include partial/metrics/analytics 
        
        include partial/verification/_verification 


    body.top

        include partial/content/_header.html 

        include partial/content/_banner.html 

        include partial/content/_one.html 

        include partial/content/_two.html 

        include partial/content/_footer.html 

        include partial/content/_contact.html 

        include partial/footer/_scripts